
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148.2rem;
}.a-propos-de-moi-x86 {
  width: 100%;
  height: 160rem;
  position: relative;
  background: linear-gradient(180deg, #a0cf93 -0%, #fefcfe 100%);

  .auto-group-fpux-6EJ {
    width: 128.2rem;
    height: 42.1rem;
    position: absolute;
    left: 11.8rem;
    top: 18.5rem;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:419fb605741ac31c39fc6bf52254fa8ac3bc3d1e');
    padding: 11.7rem 25.15rem 15.3rem 18.15rem;

    .paragraphe-nsp {
      justify-content: center;
      color: #fdfdff;
      align-items: center;
      font-size: 12.8rem;
      font-family: Roboto Serif, 'Source Sans Pro';
      display: flex;
      width: 100%;
      overflow: hidden;
      height: 100%;
      line-height: 1.1725;
      font-weight: 700;
      white-space: nowrap;
      position: relative;
      text-align: center;
    }
  }
  .frame-2-e9L {
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.2rem 4.8rem 0rem 4.8rem;
    width: 133rem;
    top: 76.1rem;
    overflow: hidden;
    height: 47.2rem;
    position: absolute;
    left: 12.4rem;

    .paragraphe-Xiv {
      overflow: hidden;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 18.3rem;
      width: 100%;
      height: 23.2rem;

      .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-4ir {
        font-weight: 400;
        line-height: 1.1708984375;
        color: #000000;
        font-family: IM FELL French Canon, 'Source Sans Pro';
        max-width: 123.4rem;
        text-align: center;
        font-size: 3.2rem;

        .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-4ir-sub-0 {
          font-size: 6.4rem;
          font-weight: 400;
          line-height: 1.2575;
          text-transform: uppercase;
          color: #000000;
          font-family: IM FELL French Canon, 'Source Sans Pro';
        }
        .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-4ir-sub-1 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: IM FELL French Canon, 'Source Sans Pro';
        }
      }
    }
    .frame-2-Kwc {
      font-size: 2.2rem;
      justify-content: center;
      margin-left: 58.7rem;
      overflow: hidden;
      position: relative;
      text-align: center;
      font-weight: 400;
      background-color: rgba(58, 64, 202, 0.8600000143);
      height: 5.5rem;
      line-height: 1.1333332929;
      font-family: Suez One, 'Source Sans Pro';
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 18.9rem;
      white-space: nowrap;
    }
  }
  .header-1ZY {
    top: 2.4rem;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2.748rem 4.082rem 2.748rem 8.1rem;
    width: 131.8778rem;
    height: 10.0435rem;
    position: absolute;
    left: 15.1rem;

    .frame-16-u98 {
      padding: 0.54rem 0rem 0.54rem 0rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .btnmenusimple-2Ue {
        cursor: pointer;
        display: flex;
        width: 9.1rem;
        height: 100%;
        position: relative;
        color: #fdfdff;
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;
        text-align: center;
        line-height: 1.1725;
        margin-right: 7.4978rem;
        font-size: 2.5rem;
        font-weight: 400;
        font-family: Roboto Serif, 'Source Sans Pro';
        justify-content: center;
      }
      .btnmenuclick-XAW {
        height: calc(100% - 0.4685rem);
        text-decoration-line: underline;
        align-items: center;
        width: 20.7rem;
        position: relative;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.284rem 7.498rem 0.184rem 0rem;
        overflow: hidden;
        font-weight: 400;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        text-align: center;
        font-size: 2.5rem;
        line-height: 1.1725;
        justify-content: center;
      }
      .btnmenusimple-oNv {
        justify-content: center;
        width: 8.4rem;
        color: #fdfdff;
        font-family: Roboto Serif, 'Source Sans Pro';
        display: flex;
        align-items: center;
        margin-right: 5.2rem;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        line-height: 1.1725;
        position: relative;
        font-size: 2.5rem;
      }
      .btnmenusimple-hUJ {
        font-weight: 400;
        height: 100%;
        position: relative;
        line-height: 1.1725;
        font-family: Roboto Serif, 'Source Sans Pro';
        margin-right: 5.2rem;
        width: 16.5rem;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.5rem;
        color: #fdfdff;
        display: flex;
        align-items: center;
      }
      .btnmenusimple-oXL {
        margin-right: 5.2rem;
        position: relative;
        white-space: nowrap;
        display: flex;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1725;
        color: #fdfdff;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        text-align: center;
        font-family: Roboto Serif, 'Source Sans Pro';
        align-items: center;
        width: 24.8rem;
        justify-content: center;
        flex-shrink: 0;
      }
      .btnmenusimple-6WS {
        cursor: pointer;
        color: #fdfdff;
        width: 9.6rem;
        overflow: hidden;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-family: Roboto Serif, 'Source Sans Pro';
        display: flex;
        position: relative;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.1725;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .header-Q1L {
    left: 120.9rem;
    top: 32.8247rem;
    overflow: hidden;
    width: 9.475rem;
    height: 9.475rem;
    position: absolute;

    .frame-18-wGA {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
