
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 148.2rem;
}.comptences-SdC {
  width: 100%;
  height: 473.3rem;
  position: relative;
  background: linear-gradient(180deg, #a0cf93 -0%, #fefcfe 100%);
}
.comptences-SdC .comi-2-1-yd8 {
  width: 143.1rem;
  height: 43.8rem;
  position: absolute;
  left: 2.5rem;
  top: 18.3rem;
  object-fit: cover;
  vertical-align: top;
}
.comptences-SdC .header-VrN {
  box-sizing: border-box;
  padding: 2.748rem 2.699rem 2.748rem 8.1rem;
  width: 130.4944rem;
  height: 10.0435rem;
  position: absolute;
  left: 15.1962rem;
  top: 2.8rem;
  overflow: hidden;
}
.comptences-SdC .header-VrN .frame-16-1Jv {
  box-sizing: border-box;
  padding: 0.54rem 0rem 0.54rem 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenusimple-vwg {
  margin-right: 5.2rem;
  width: 9.1rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenusimple-DQz {
  margin-right: 5.2rem;
  width: 19.8rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenusimple-82A {
  margin-right: 7.4978rem;
  width: 8.4rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenuclick-Rmx {
  margin: 0.284rem 7.498rem 0.184rem 0rem;
  width: 17.4rem;
  height: calc(100% - 0.4685rem);
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  text-decoration-line: underline;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenusimple-J54 {
  margin-right: 5.2rem;
  width: 24.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .header-VrN .frame-16-1Jv .btnmenusimple-o1p {
  width: 9.6rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.comptences-SdC .mise-en-place-environment-de-travail-dev-uae {
  width: 72rem;
  height: 4.1rem;
  position: absolute;
  left: 32.8rem;
  top: 64.8rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .auto-group-dwdx-bCa {
  width: 123.7657rem;
  height: 45.3rem;
  position: absolute;
  left: 7.1rem;
  top: 72.2rem;
  display: flex;
  align-items: center;
}
.comptences-SdC .auto-group-dwdx-bCa .installation-dun-systme-os-installation-dide-versionning-de-code-source-git-et-github-utilisation-doutils-de-gestion-de-projet-jira-trello-utilisation-doutils-bureautique-7gi {
  margin: 0rem 1.3rem 3.4rem 0rem;
  max-width: 37.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.1333333651;
  color: #070707;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri {
  width: 84.9657rem;
  height: 100%;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-s7xk-gdL {
  margin: 0rem 54.203rem 1.446rem 0rem;
  width: calc(100% - 54.2029rem);
  display: flex;
  align-items: flex-end;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-s7xk-gdL .tlchargement-25-1-1Qi {
  margin-right: 1.469rem;
  width: 14.6037rem;
  height: 7.8688rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-s7xk-gdL .tlchargement-26-1-7yY {
  width: 14.6901rem;
  height: 7.5078rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-gs4e-3sC {
  margin: 0rem 61.207rem 2.182rem 0.025rem;
  width: calc(100% - 61.2313rem);
  display: flex;
  align-items: center;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-gs4e-3sC .tlchargement-10-2-acE {
  margin-right: 2.909rem;
  width: 10.6287rem;
  height: 8.8794rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5.4rem;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-gs4e-3sC .tlchargement-32-1-Vz6 {
  margin-bottom: 0.0638rem;
  width: 10.1967rem;
  height: 7.4356rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .tlchargement-30-1-ERt {
  margin: 0rem 0rem 1.479rem 0.963rem;
  width: 16.2455rem;
  height: 7.0025rem;
  object-fit: cover;
  vertical-align: top;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-yxhu-Ljp {
  margin: 0rem 48.509rem 2.014rem 1.263rem;
  width: calc(100% - 49.7717rem);
  display: flex;
  align-items: flex-start;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-yxhu-Ljp .tlchargement-27-1-TJe {
  margin-right: 1.6659rem;
  width: 20.1341rem;
  height: 5.6309rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-yxhu-Ljp .tlchargement-28-1-z3g {
  width: 13.3939rem;
  height: 5.8474rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 {
  margin-left: 2.0631rem;
  display: flex;
  align-items: flex-start;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 .tlchargement-29-1-UDk {
  margin: 0.207rem 1.467rem 0rem 0rem;
  width: 9.3325rem;
  height: 8.3741rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 .tlchargement-33-1-yRQ {
  margin: 0.31rem 3.12rem 0rem 0rem;
  width: 20.4797rem;
  height: 8.2297rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 .tlchargement-34-1-Hgz {
  margin: 0.827rem 4.146rem 0rem 0rem;
  width: 15.5542rem;
  height: 7.1469rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 .tlchargement-12-2-cDU {
  margin: 0.207rem 4.175rem 0rem 0rem;
  width: 11.9249rem;
  height: 6.9303rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-dwdx-bCa .group-10-8ri .auto-group-pgox-vi2 .tlchargement-11-2-Kdg {
  width: 12.7026rem;
  height: 7.1469rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .maquettage-dapplication-web-et-mobile-4LN {
  width: 69.2rem;
  height: 4.1rem;
  position: absolute;
  left: 38.9rem;
  top: 126.2rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .group-20-9Mp {
  width: 83rem;
  height: 16.9rem;
  position: absolute;
  left: 31.7rem;
  top: 144.3rem;
  display: flex;
  align-items: flex-start;
}
.comptences-SdC .group-20-9Mp .tlchargement-31-1-5mG {
  margin-right: 8.5rem;
  width: 41.9rem;
  height: 14.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .group-20-9Mp .figma459logowik-1-1up {
  width: 32.6rem;
  height: 16.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.4rem;
  flex-shrink: 0;
}
.comptences-SdC .ralisation-de-site-web-statique-et-dynamique-xKG {
  width: 83.6rem;
  height: 4.1rem;
  position: absolute;
  left: 31rem;
  top: 170.1rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .auto-group-5cr2-FJN {
  width: 140.6704rem;
  height: 43.8rem;
  position: absolute;
  left: 4.3296rem;
  top: 181.7rem;
  display: flex;
  align-items: center;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 {
  margin: 1.225rem 10.03rem 1.525rem 0rem;
  width: 59.7408rem;
  height: calc(100% - 2.7493rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .langage-de-programmation-ViW {
  margin: 0rem 3.2rem 0.5rem 0rem;
  max-width: 46.7rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 16.9481rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU .tlchargement-18-2-keS {
  width: 10.5967rem;
  height: 16.9481rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU .auto-group-lzpz-h3t {
  box-sizing: border-box;
  padding: 0.508rem 0rem 0.508rem 2.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU .auto-group-lzpz-h3t .tlchargement-9-3-puC {
  margin-right: 2.9rem;
  width: 10.5967rem;
  height: 15.9312rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU .auto-group-lzpz-h3t .tlchargement-6-2-Zbt {
  margin: 0rem 2.9rem 0rem 0rem;
  width: 13.7757rem;
  height: 15.677rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-q3re-QqU .auto-group-lzpz-h3t .tlchargement-14-2-VEe {
  width: 16.0717rem;
  height: 10.5078rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-tfd8-pXp {
  margin: 0rem 1.053rem 0rem 1.053rem;
  width: calc(100% - 2.1052rem);
  height: 12.2026rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-tfd8-pXp .csharplogo-1-9KC {
  width: 16.2483rem;
  height: 12.2026rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-tfd8-pXp .auto-group-gqkp-u3U {
  box-sizing: border-box;
  padding: 0.466rem 0rem 0.466rem 2.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-tfd8-pXp .auto-group-gqkp-u3U .tlchargement-15-2-qxi {
  margin-right: 2.9rem;
  width: 12.0096rem;
  height: 11.2705rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .frame-13-BC2 .auto-group-tfd8-pXp .auto-group-gqkp-u3U .tlchargement-17-2-aQW {
  margin-top: 0rem;
  width: 23.5777rem;
  height: 10.5926rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW {
  width: 70.9rem;
  height: 100%;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .framework-TDQ {
  margin: 0rem 0rem 3.9rem 1.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .framework-TDQ .framework-TDQ-sub-0 {
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .framework-TDQ .framework-TDQ-sub-1 {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-jl6z-XsU {
  margin-bottom: 2.0409rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-jl6z-XsU .tlchargement-23-2-fTt {
  margin: 0rem 1.708rem 0.085rem 0rem;
  width: 14.677rem;
  height: 8.7587rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-jl6z-XsU .tlchargement-36-1-BSE {
  margin: 0.17rem 1.708rem 0rem 0rem;
  width: 15.9195rem;
  height: 9.524rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-jl6z-XsU .tlchargement-21-2-trS {
  margin: 0rem 3.495rem 0.51rem 0rem;
  width: 12.8133rem;
  height: 9.1838rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-jl6z-XsU .tlchargement-19-2-oyQ {
  margin-top: 0.7653rem;
  width: 20.5789rem;
  height: 8.7587rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x {
  margin: 0rem 7.61rem 0rem 1.32rem;
  width: calc(100% - 8.9304rem);
  height: 24.0651rem;
  display: flex;
  align-items: flex-end;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-3age-siN {
  margin: 0rem 2.252rem 0rem 0rem;
  height: calc(100% - 0rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-3age-siN .tlchargement-10-3-cAA {
  margin-bottom: 0.7653rem;
  width: 10.3283rem;
  height: 10.2893rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-3age-siN .tlchargement-20-2-YJi {
  margin-left: 1.3202rem;
  width: 13.7451rem;
  height: 13.0105rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-zxbu-GkW {
  width: 44.6523rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-zxbu-GkW .auto-group-rrzs-2Un {
  margin-bottom: 2.7211rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-zxbu-GkW .auto-group-rrzs-2Un .tlchargement-11-3-tfQ {
  margin-right: 4.1158rem;
  width: 18.9481rem;
  height: 9.439rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-zxbu-GkW .auto-group-rrzs-2Un .tlchargement-8-2-1zv {
  margin-top: 0.3401rem;
  width: 21.5884rem;
  height: 8.0784rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .auto-group-5cr2-FJN .group-12-JLW .auto-group-bey4-k7x .auto-group-zxbu-GkW .tlchargement-37-1-MJ6 {
  margin-left: 0.5436rem;
  width: 32.3049rem;
  height: 10.2893rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .concevoir-et-dployer-une-base-de-donne-sql-et-nosql-FuG {
  width: 100.7rem;
  height: 4.1rem;
  position: absolute;
  left: 31.45rem;
  top: 236.7rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .group-15-LQv {
  width: 100rem;
  height: 25.3rem;
  position: absolute;
  left: 24.4rem;
  top: 255.7rem;
  display: flex;
  align-items: flex-start;
}
.comptences-SdC .group-15-LQv .tlchargement-13-1-s9x {
  margin-right: 13.8381rem;
  width: 27.5457rem;
  height: 25.3rem;
  position: relative;
  background-size: 103.689% 106.751%;
  background-position: 0 -0.3736rem;
  background-image: url('../assets/tlchargement-13-1.png');
  flex-shrink: 0;
}
.comptences-SdC .group-15-LQv .tlchargement-9-4-ML2 {
  margin-top: 1.1162rem;
  width: 58.6162rem;
  height: 18.4789rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .ralisation-une-application-mobile-gt6 {
  width: 59.3rem;
  height: 4.1rem;
  position: absolute;
  left: 42.4rem;
  top: 301.7rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .group-17-ycJ {
  width: 98.425rem;
  height: 12.4rem;
  position: absolute;
  left: 24.9rem;
  top: 321.3rem;
  display: flex;
  align-items: flex-end;
}
.comptences-SdC .group-17-ycJ .af9324-c50a-42f9-9236-c21db13b90d9-1-7Tc {
  margin-right: 14.8109rem;
  width: 42.413rem;
  height: 12.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .group-17-ycJ .tlchargement-38-1-dwk {
  margin-bottom: 0rem;
  width: 41.2012rem;
  height: 10.5179rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comptences-SdC .assurer-lintgration-et-le-deployement-continu-dune-application-web-Agn {
  width: 119.9rem;
  height: 4.1rem;
  position: absolute;
  left: 17rem;
  top: 341.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .group-18-eM4 {
  width: 110.9rem;
  height: 30rem;
  position: absolute;
  left: 24.5rem;
  top: 355.7rem;
  display: flex;
  align-items: center;
}
.comptences-SdC .group-18-eM4 .tlchargement-24-1-akW {
  margin-right: 5.4052rem;
  width: 63.3714rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.comptences-SdC .group-18-eM4 .tlchargement-40-1-hq8 {
  width: 42.1234rem;
  height: 30rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 8rem;
  flex-shrink: 0;
}
.comptences-SdC .documenter-le-deployement-dune-app-web-et-mobile-qgS {
  width: 93.4rem;
  height: 4.1rem;
  position: absolute;
  left: 31.75rem;
  top: 408.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.1333333121;
  color: #000000;
  font-family: Libre Caslon Text, 'Source Sans Pro';
  white-space: nowrap;
}
.comptences-SdC .tlchargement-39-1-jWv {
  width: 51.6rem;
  height: 26.2rem;
  position: absolute;
  left: 56.3rem;
  top: 416.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
}
.comptences-SdC .line-1-EyU {
  width: 0.1291rem;
  height: 0.3rem;
  position: absolute;
  left: 68.8355rem;
  top: 180.1982rem;
  background-color: #000000;
}
.comptences-SdC .header-As8 {
  width: 125.5rem;
  height: 31.3rem;
  position: absolute;
  left: 13.1rem;
  top: 18.3rem;
  overflow: hidden;
}
.comptences-SdC .header-As8 .frame-18-WAJ {
  width: 9.475rem;
  height: 9.475rem;
  position: absolute;
  left: 110.3rem;
  top: 10.8247rem;
  overflow: hidden;
}
.comptences-SdC .header-As8 .paragraphe-qiN {
  box-sizing: border-box;
  padding: 0.65rem 35.8rem 0rem 35.8rem;
  width: 125.5rem;
  height: 31.3rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.comptences-SdC .header-As8 .paragraphe-qiN .gfvzvzuyvqehvqhbvkhqevh-evfdbhjdhjb-Mgi {
  max-width: 53.9rem;
  text-align: center;
  font-size: 12.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #fdfdff;
  font-family: Roboto Serif, 'Source Sans Pro';
}
